name = "devportal"
main = "src/index.js"
compatibility_date = "2024-12-01"

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "echosparkgames"
database_id = "BURAYA_CLOUDFLARE_D1_DATABASE_ID"
