name = "devportal"
main = "src/index.js"
compatibility_date = "2024-12-01"

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "echosparkgames"
database_id = "96d8f825-b635-4a4c-91c8-72f42efc80d4"
