#unity-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto;
}

#unity-canvas {
  width: 100%;
  background: black;
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

#unity-loading-bar {
  width: 100%;
  height: 8px;
  background: #222;
  margin-top: 10px;
}

#unity-progress-bar-full {
  height: 100%;
  width: 0%;
  background: #5c2cff;
}
